Say <%= @hello %>
  <p>
   <%= text_field_tag :@search_text %>
   <%= link_to 'Search', search_results_users_path %>
  </p>
<%= link_to 'Home', users_path %>





<!-- <p id="notice"><%= notice %></p>

<h1>Searching Users</h1>
   <%= text_field_tag :@search_text, params[:search_text] %>

<input type="text"> </input>
<button type="submit">Search User</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @users.each do |user| %>
      <tr>
        <td><%#= user.name %></td>
        <td><%#= user.email %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
<br>
<br>
<%#= will_paginate(@users) %>
 -->
 